.side-bar
  .side-bar__submit
    = link_to "履歴書一覧",done_users_path,class:"side-bar__submit--link"
  .side-bar__submit
    = link_to "許可された履歴書",unedited_users_path,class:"side-bar__submit--link"
  .side-bar__index
    = link_to "グループ一覧",groups_path,class:"side-bar__submit--link"
  .side-bar__user
    = link_to new_group_path,class:"side-bar__submit--link" do
      グループ作成