.side-bar
  .side-bar__submit
    = link_to "完了",done_users_path,class:"side-bar__submit--link"
  .side-bar__edit
    = link_to "編集中",unedited_users_path,class:"side-bar__submit--link"
  .side-bar__O_page
    = link_to "許可を付与する",search_users_path,class:"side-bar__submit--link"