.header
  = render "/resume/header"

.user_space
  = render "/users/side_bar"
  
  .search
    .search__title
      履歴書を見て欲しいユーザーを検索する
    .search__name
      user name
    -# = form_for @resume do |f|
    -#   = f.text_field :name
