.content_top
  %ol
  %li.content_top__profile プロフィール
  %li.content_top__sa 住所
  %li.content_top__ci 連絡先
  %li.content_top__e 学歴
  %li.content_top__wh 職歴
  %li.content_top__license 免許・資格
  %li.content_top__motivation 志望動機
  %li.content_top__free 本人希望記入欄
  %li.content_top__completion 完成