.header
  = render "header"

.choice
  .choice__top
    .choice__top--title
      〜あなたと職場を繋ぐ〜
    = image_tag "IMG_1801.JPG",height:"400",width:"65%", class: 'choice__top--image'
    
  .choice__introduction
    .choice__introduction--title
      introduction
    .choice__introduction--description
      かつて手書きで書いていた履歴書が<br>
      パソコン、スマホを使ってすぐに作れます。<br>
      また、作成した履歴書を見せたいユーザーを選択することで<br>
      郵送などの手間が省けます。

  .choice__howto
    .choice__howto--title
      How to?
    .choice__howto--use
      ログインor新規登録すると<br>
      Writeから履歴書が作れます。<br>
      履歴書をみたい場合はCheckをクリック！
      履歴書作成後は、履歴書ページから<br>
      履歴書を見せたいユーザー(企業)を選択！
  .choice__try
    .choice__try--title
      Let's try!
  .choice__click
    = link_to "Write",step1_resume_index_path,class:"choice__click--left"
    = link_to "Check",done_users_path,class:"choice__click--right"

