.header
  = render "header"

.choice
  .choice__left
    = link_to "履歴書を作成する",step1_resume_index_path,class:"choice__left--new"
  .choice__right
    = link_to "作成した履歴書を見る",done_users_path,class:"choice__right--show"