.content{
  width:100vw;
  height:100vh;
  background-image:url("p0469_m.jpeg");
}

.content_main{
  width:calc(100vw - 700px);
  height:calc(100vh - 200px);
  background-color: white;
  border: whitesmoke solid 1px;
  display: block;
  margin:10px auto 100px auto;
  position: relative;
  &__head{
    font-size:15px;
    padding:10px 20px;
    border-bottom: solid 1px gray;
  }
  &__form{
    height:350px;
    padding:20px;
    font-size:15px;
    &--fullname{
      @include form;
    }
    &--name_kana{
      @include form;
    }
    &--birthday{
      @include form;
    }
    &--gender{
      @include form;
    }
  }
  &__fotter{
    position: absolute;
    bottom:0px;
    right:10px;
    &--right{
      color: wheat;
      background-color:red;
      font-size:20px;
      float:right;
      text-decoration:none;
      padding:5px 20px;
      margin:20px;
      border-radius:10px;
      cursor: pointer;
    }
    &:hover{
      opacity:50%;
    }
  }
}
